{% extends "index.html" %}

{% block title %}Lokasi Penjualan{% endblock %}

{% block content %}
  <h2>Lokasi Penjualan</h2>
  <p>Tempat penjualan produk pertanian dan hasil laut di Maluku Tenggara meliputi berbagai pasar tradisional dan toko-toko yang tersebar di beberapa wilayah. Berikut adalah beberapa lokasi penjualan utama:</p>

  <ul>
    <li><strong>Pasar Tual:</strong> Pasar yang menjual hasil laut dan sayuran segar yang diproduksi oleh petani lokal di sekitar kota Tual.</li>
    <li><strong>Pasar Langgur:</strong> Pasar langgur menjual hasil laut dari nelayan setempat dan sayuran,enbal,singkong yang di produksi para petani yang perkampungannya dekat dengan pasar Langgur.</li>
  </ul>

  <p>Selain pasar tradisional, ada juga beberapa tempat penjualan modern yang menjual produk lokal seperti di pusat perbelanjaan dan toko khusus produk Maluku.</p>
{% endblock %}
